$blue = #0295fe;
$red = #fe0202;

.btn {
	cursor: pointer;
	padding: 10px 12px;
	border-radius: 1px;
	color: #fff;
	font-size: 14px;
	border: 0;
	border: 1px solid #3e3e3e;
	color: #3e3e3e;
	background: #fff;
	text-transform: uppercase;
	box-shadow: 1px 1px 3px #989898;
}

.btn.primary {
	background: lightness($blue, 50%);
	border: 0;
	color: #fff;
	&:hover {
		background lightness($blue, 40%);
	}
	&:focus {
		background: lightness($blue, 30%);
	}
}

.btn.primary-dark {
	background: lightness($blue, 40%);
	border: 0;
	color: #fff;
	&:hover {
		background lightness($blue, 30%);
	}
	&:focus {
		background: lightness($blue, 20%);
	}
}

.btn.primary-light {
	background: lightness($blue, 60%);
	border: 0;
	color: #fff;
	&:hover {
		background lightness($blue, 50%);
	}
	&:focus {
		background: lightness($blue, 40%);
	}
}


.btn.danger {
	background: lightness($red, 50%);
	border: 0;
	color: #fff;
	&:hover {
		background lightness($red, 40%);
	}
	&:focus {
		background: lightness($red, 30%);
	}
}

.btn.danger-dark {
	background: lightness($red, 40%);
	border: 0;
	color: #fff;
	&:hover {
		background lightness($red, 30%);
	}
	&:focus {
		background: lightness($red, 20%);
	}
}

.btn.danger-light {
	background: lightness($red, 60%);
	border: 0;
	color: #fff;
	&:hover {
		background lightness($red, 50%);
	}
	&:focus {
		background: lightness($red, 40%);
	}
}