@media screen and (min-width: 768px) {
	.col-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> div {
			width: 49%;
			margin-bottom: 2%;
		}
	}

	.col-3 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> div {
			width: 32%;
			margin-bottom: 2%;
		}
	}

	.col-4 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> div {
			width: 19%;
			margin-bottom: 2%;
		}
	}
}
