* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	outline: none;
	box-sizing: border-box;
}


.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}


.buttons {
	&-group {
		margin-bottom: 20px;
	}
}
