<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Modal Componente</title>
		<link rel="stylesheet" type="text/css" href="../../dist/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="col-2">
				<div class="ola">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In enim magnam laudantium, debitis temporibus quasi quas impedit voluptatibus fugiat provident officia deserunt aliquam asperiores facilis minima libero id ipsam vero?
				</div>
				<div class="ola">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In enim magnam laudantium, debitis temporibus quasi quas impedit voluptatibus fugiat provident officia deserunt aliquam asperiores facilis minima libero id ipsam vero?
				</div>
				<div class="ola">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In enim magnam laudantium, debitis temporibus quasi quas impedit voluptatibus fugiat provident officia deserunt aliquam asperiores facilis minima libero id ipsam vero?
				</div>
				<div class="ola">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In enim magnam laudantium, debitis temporibus quasi quas impedit voluptatibus fugiat provident officia deserunt aliquam asperiores facilis minima libero id ipsam vero?
				</div>
				<div class="ola">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In enim magnam laudantium, debitis temporibus quasi quas impedit voluptatibus fugiat provident officia deserunt aliquam asperiores facilis minima libero id ipsam vero?
				</div>
				<div class="ola">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In enim magnam laudantium, debitis temporibus quasi quas impedit voluptatibus fugiat provident officia deserunt aliquam asperiores facilis minima libero id ipsam vero?
				</div>
				<div class="ola">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In enim magnam laudantium, debitis temporibus quasi quas impedit voluptatibus fugiat provident officia deserunt aliquam asperiores facilis minima libero id ipsam vero?
				</div>
				<div class="ola">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In enim magnam laudantium, debitis temporibus quasi quas impedit voluptatibus fugiat provident officia deserunt aliquam asperiores facilis minima libero id ipsam vero?
				</div>
			</div>
			
			<div class="buttons">
				<button class="btn primary-dark">Ver Modal</button>
				<button class="btn primary">Ver mais</button>
				<button class="btn primary-light">Ver Modal</button>
			</div>
			<div class="overlay">
				<div class="modal">
					<header class="header">
						<h2>Titulo</h2>
					</header>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro esse culpa quisquam pariatur, accusamus facilis. Officia maiores atque eligendi impedit voluptatibus earum incidunt facere veniam dolore quod aspernatur, dolorem natus?
						</p>
					</div>
					<footer class="footer">
						<button class="btn primary">Enviar</button>
						<button class="btn alert">Fechar</button>
					</footer>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="../../dist/js/script.js"></script>
		<script src='script.js'></script>
	</body>
</html>