.btn {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 1px;
  color: #fff;
  font-size: 14px;
  border: 0;
  border: 1px solid #3e3e3e;
  color: #3e3e3e;
  background: #fff;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px #989898;
}
.btn.primary {
  background: #0195fe;
  border: 0;
  color: #fff;
}
.btn.primary:hover {
  background: #0177cb;
}
.btn.primary:focus {
  background: #015998;
}
.btn.primary-dark {
  background: #0177cb;
  border: 0;
  color: #fff;
}
.btn.primary-dark:hover {
  background: #015998;
}
.btn.primary-dark:focus {
  background: #003b66;
}
.btn.primary-light {
  background: #34aafe;
  border: 0;
  color: #fff;
}
.btn.primary-light:hover {
  background: #0195fe;
}
.btn.primary-light:focus {
  background: #0177cb;
}
.btn.danger {
  background: #fe0101;
  border: 0;
  color: #fff;
}
.btn.danger:hover {
  background: #cb0101;
}
.btn.danger:focus {
  background: #980101;
}
.btn.danger-dark {
  background: #cb0101;
  border: 0;
  color: #fff;
}
.btn.danger-dark:hover {
  background: #980101;
}
.btn.danger-dark:focus {
  background: #600;
}
.btn.danger-light {
  background: #fe3434;
  border: 0;
  color: #fff;
}
.btn.danger-light:hover {
  background: #fe0101;
}
.btn.danger-light:focus {
  background: #cb0101;
}
.input-group fieldset {
  border: 0;
}
.input-group label {
  display: inline-block;
  font-size: 20px;
  color: #636363;
  font-weight: lighter;
  vertical-align: top;
  display: block;
}
.input-group fieldset legend {
  display: none;
}
.input-group {
  margin-bottom: 20px;
}
.input-group .label {
  display: inline-block;
  font-size: 20px;
  color: #636363;
  font-weight: lighter;
  vertical-align: top;
  display: block;
}
.input-group .input {
  display: block;
  width: 100%;
  padding: 9px 5px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}
.input-group select {
  height: 44px;
}
.input-group input[type=checkbox] + label {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #656565;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}
.input-group input[type=checkbox]:checked + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #656565;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 2px;
}
.input-group input[type=radio] + label {
  width: 22px;
  height: 22px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #656565;
  position: relative;
}
.input-group input[type=radio]:checked + label:after {
  content: '';
  width: 14px;
  height: 14px;
  background: #656565;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .col-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-2 > div {
    width: 49%;
    margin-bottom: 2%;
  }
  .col-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-3 > div {
    width: 32%;
    margin-bottom: 2%;
  }
  .col-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-4 > div {
    width: 19%;
    margin-bottom: 2%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  outline: none;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.buttons-group {
  margin-bottom: 20px;
}
.hidden {
  display: none !important;
}
.modal-overlay {
  display: none;
  background: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: all 1s ease;
  display: flex;
/* align-items: center; */
}
.modal-overlay .modal {
  z-index: 20;
  box-sizing: border-box;
  background: #fff;
  margin: 0 15px;
  right: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 1s ease;
  width: auto;
  height: auto;
}
@media screen and (min-width: 768px) {
  .modal-overlay .modal {
    max-width: 640px;
    margin: 0 auto;
  }
}
.modal-overlay .modal .header,
.modal-overlay .modal .body,
.modal-overlay .modal .footer {
  padding: 10px 15px;
  border-bottom: 1px solid #d8d7d7;
}
.modal-overlay .modal .body {
  padding: 20px 10px;
}
.modal-overlay .modal.alert .header {
  background: #fe0202;
  color: #fff;
}
.modal-overlay.active {
  opacity: 1;
  z-index: 1;
  display: flex;
  align-items: center;
}
.modal-overlay.active .modal {
  opacity: 1;
}
.modal-modal-overlay.size .modal {
  transform: scale(0);
  transition: all 1s ease;
}
.modal-overlay.size.active .modal {
  transform: scale(1);
}
.modal-overlay.rotate {
  perspective: 1000px;
}
.modal-overlay.rotate .modal {
  transform: rotateX(90deg);
}
.modal-overlay.rotate.active .modal {
  transform: rotateX(0deg);
}
.modal-overlay.to-top .modal {
  top: 0;
}
.modal-overlay.to-top.active .modal {
  top: 200px;
}
.modal-overlay.to-bottom .modal {
  bottom: 0;
}
.modal-overlay.to-bottom.active .modal {
  bottom: 200px;
}
.modal-overlay.to-left .modal {
  left: -200%;
}
.modal-overlay.to-left.active .modal {
  left: 0;
}
.modal-overlay.to-right .modal {
  right: -200%;
}
.modal-overlay.to-right.active .modal {
  right: 0;
}
.modal-overlay.height .modal {
  height: 0;
  overflow: hidden;
}
.modal-overlay.height.active .modal {
  height: 200px;
}
